<!DOCTYPE html>
<html ng-app="formApp">
<head>

    <title>Showing an error message</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
	
	<script>
		angular.module("formApp", [])
			.controller("defaultCtrl", function($scope){
				$scope.addNewUser= function (userDetails){
					$scope.massage = userDetails.name
						+ "(" + userDetails.email +") (" + userDetails.agreed +")";	
				};
				//in order to get rid of the duplication of code, you can use methods such getError
				$scope.getError = function (error) {
                    if (angular.isDefined(error)) {
                        if (error.required) {
                            return "The field must not be empty";
                        } 
                        else if (error.email) {
                            return "Please enter a valid email";
                        }
                    }
                };		
			});
	</script>
</head>
<body>
	<section>
		<div class="container" style="padding: 45px 0;">
			<div class="row">
				<div class="panel col-md-4 col-md-offset-4" ng-controller="defaultCtrl">
					<form name="myForm" novalidate ng-submit="addNewUser(newUser)">
						<div class="well">
							<div class="form-group">
								<label>Name:</label>
								<input name="userName" type="text" class="form-control" required ng-model="newUser.name">
							</div>
							
							<div class="form-group">
								<label>Email:</label>
								<input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
							</div>
							
							<div class="error" ng-show="myForm.userEmail.$invalid && myForm.userEmail.$dirty">
                        		{{getError(myForm.userEmail.$error)}}
                    		</div>

							<div class="checkbox">
								<label>
									<input name="agreed" type="checkbox" ng-model="newUser.agreed" required>
									I agree to the terms of use
								</label>
							</div>

							<button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">
								OK
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>